@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.cdnfonts.com/css/cocosharp-trial');
@import url('https://fonts.cdnfonts.com/css/momcake?styles=70427,70426');


body {
    font-family: 'Inter';
    background: linear-gradient(227.85deg, #58A1E4 0.29%, #2677B1 27.04%, #025183 61.07%);
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.titulo {
    font-family: 'MOMCAKE', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    color: #58A1E4;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7ab3e1;
    padding: 5px 45px;
    cursor: pointer;
    background: #7AB2E1;
    border-radius: 12px;
    padding: 8px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #012E4A;
    text-transform: uppercase;
    font-weight: 600;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 1% 4%;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    position: relative;
    font-family: 'CocoSharp Trial';
    font-style: normal;
    font-size: 2.5em;
    text-transform: lowercase;
    color: #FFFFFF;
}

#header-content, #sobre, #objetivo, #solucao, #simulador {
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
}

.titulo-simulador {
    font-family: 'MOMCAKE', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.texto-simulador {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    top: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    text-align: justify;
    color: #FFFFFF;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    font-size: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    position: relative;
    margin: auto;
    padding: 5%;
}

.inputs label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inputs .btn {
    width: 150px;
}

.inputs input {
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin-left: 2%;
    width: 85%;
    height: 20px;
    border: 1px solid #FFFFFF;
}

div .inputs text {
    margin-left: 2%;
}

.btn:hover {
    background: color #1174c4;
}

.btn:active {
    position: relative;
    top: 1px;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 8em;
    background: linear-gradient(227.85deg, #58A1E4 0.29%, #2677B1 27.04%, #025183 61.07%);
    font-family: 'Inter';
    border: 1px #58A1E4;
    font-style: normal;
    border-radius: 15px;
}

.div-titulos {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    width: 90%;
    height: 100%;

}

.titulos {
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 15px;
    width: auto;
}

#novo {
    width: 25.5% ;
    align-items: center;
}

td{
    width: auto;
    font-size: 100%;
}

.header-login {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-login nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header-login nav ul li a img {
    width: 20px;
}

.header-background {
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.container-login {
    margin-top: 5%;
    border-radius: 16px;
    flex-direction: column;
    text-align: center;
    display: flex;
    padding: 24px 24px;
    background-color: white;
    width: 30%;
    justify-content: center; 
}

.container-login .titulo {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.container-login p {
    font-family: 'Inter';
    padding: 0 10px 0 10px;
    
}

.container-login .btn {
    width: 100%;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input {
    width: 100%;
    background-color: #eee;
    font-family: 'Inter';
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.form a {
    text-decoration: none;
}

.form span {
    color: #58A1E4;
}

.voltar {
    position: relative;
    font-family: 'Inter';
    text-transform: uppercase; 
}